/* SIDE DOCK & EVERYTHING OUTSIDE OF EDITOR/ PREVIEW */
/* side dock SPECIAL STUFF*/
/*************/
/* SEARCH BAR */

.side-dock-panels-container {
  background-color: rgb(32, 32, 36) !important;
  color: #bbc0c5;
}
/* icons at top of panes*/
.file-view-actions a
{
  color: var(--text-muted) !important;
}

.file-view-actions a:hover
{
  color: var(--text-a) !important;
}

/* html tags in editor */
.cm-tag
{
  color: var(--text-accent) !important;
}

.side-dock-ribbon-tab, .side-dock-ribbon-action {

}
.side-dock-ribbon-tab.is-active {
  color: #bdbaa8 !important;
}

.side-dock-ribbon-tab.is-active .side-dock-ribbon-tab-inner:hover {
  color: #337AB7 !important;
  background-color: #182026;
}

.nav-file-title {
  color: #999999 !important;
  background-color: rgb(32, 32, 36);
  }

.nav-folder-title {
  color: #bfbfbf !important;
  background-color: rgb(32, 32, 36);
  }

  .nav-file-title:hover {
  color: #59a2c5 !important;
}

.search-result-file-title {
  color: #bfbfbf !important;
  background-color: rgb(32, 32, 36);
  }

.search-result-file-matched-text {
  color: #59a2c5 !important;
  background-color: rgb(32, 32, 36);
  }

.nav-file-tag {
  color: #59a2c5;
  } /* for the PNG text, but can't specifically target "PNG", just all of those filetype tags. */
.nav-file.is-active .nav-file-tag { color: #59a2c5; }

/* side dock text, like file names and backlink context */
.side-dock-panels-container {
  font-size: 13px !important;
}

/* side dock titles at top */
.side-dock-title {
  font-size: 20px !important;
  font-weight: 800 !important;
}

/* hover actions on side dock navigation */
.side-dock-ribbon-tab:hover,
.side-dock-ribbon-tab-inner:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover
{
  color: var(--text-a);
}

/* condense line spacing on file explorer title list. also avoids character-level word breaks */
.nav-file-title-content,
.search-result-file-title,
.search-result-file-match
{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: normal !important;
  word-break: keep-all;
}

/* clean up side bar empty state (e.g. unlinked mentions) */
.search-empty-state
{
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  line-height: normal;
}

/* font for everything outside of editor/preview panes */
.app-container
{
  font-family: var(--font-family-preview);
}

.status-bar-item
{
  font-family: var(--font-family-preview);
  font-size: 12px;





  /* clean up side bar empty state (e.g. unlinked mentions) */
  .search-empty-state
  {
    width: auto;
    padding-left: 10px;
    padding-right: 5px;
    line-height: normal;
  }


  /* SECONDARY SCROLL BAR*/
  /* remove, comes from adding variable padding */
  .CodeMirror-scroll::-webkit-scrollbar {
      display: none;
  }

  /* remote secondary scroll bar */
  .CodeMirror-scroll::-webkit-scrollbar {
      display: none;
  }
